<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniforDex"
        tools:targetApi="31">
        <activity
            android:name=".conquistas"
            android:exported="false" />
        <activity
            android:name=".EditarObra"
            android:exported="false" />
        <activity
            android:name=".ControleObras"
            android:exported="false" />
        <activity
            android:name=".CriarExposicao"
            android:exported="false" />
        <activity
            android:name=".ExpoADM"
            android:exported="false" />
        <activity
            android:name=".ScanQR"
            android:exported="false" />
        <activity
            android:name=".DetalheObra"
            android:exported="false" />
        <activity
            android:name=".LoginAdm"
            android:exported="false" />
        <activity
            android:name=".ControleAdm"
            android:exported="false" />
        <activity
            android:name=".TelaAdm"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="MainActivity"
            android:theme="@style/Theme.UniforDex" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>